$board-size: 400px;


:root {
    --board-size: #{$board-size};
    --field-size: calc(var(--board-size) / 3);

    --player-size: calc(var(--field-size) * 0.8);
    --player-offset: calc((var(--field-size) - var(--player-size)) / 2)
}

.game {
    position: relative;
    background-color: bisque;
}

.game__player {
    position: absolute;
    left: var(--player-offset);
    top: var(--player-offset);
}

.game__player--row_2 {
    top: calc(var(--field-size) * 1 + var(--player-offset));
}

.game__player--col_2 {
    left: calc(var(--field-size) * 1 + var(--player-offset));
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: var(--board-size);
}

.board__field {
    width: var(--field-size);
    height: var(--field-size);
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
    width: var(--player-size);
    height: var(--player-size);
    background-color: black;
    border-radius: 50%;
}

.player--one {
    background-color: red;
}

.player--two {
    background-color: blue;
}