body {
    background-color: rgb(92, 76, 76);
}

.game {
    position: relative;
    background-color: goldenrod;
    width: 100%;
    max-width: $board-size;
    margin: 0 auto;

    &__player {
        position: absolute;
        left: $player-offset;
        top: $player-offset;

        @for $index from 1 through 3 {
            &--row_#{$index} {
                top: getShift($index);
            }

            &--col_#{$index} {
                left: getShift($index);
            }
        }
    }
    
    @media (min-width: 300px) {
            background-color: red;
    }
}