@use '../utils/mixins' as *;
@use '../utils/variables' as *;

$colors:
    'one' red,
    'two' blue,
    'three' green;

.player {
    @include circle($player-size);

    background-color: black;
    box-sizing: border-box;
    border: 5px solid black;

    &--level_1 {
        @extend %level;

        border-style: solid;
        opacity: 0.5;
    }

    &--level_2 {
        @extend %level;

        border-style: dotted;
    }

    @each $name, $color in $colors {
        &--#{$name} {
            background-color: $color;
        }   
    }
}

@import '../utils/fragments';