$colors:
    'one' aqua,
    'two' blue,
    'three' green;

.player {
    @include circle($player-size);

    background-color: black;
    box-sizing: border-box;
    border: 5px solid black;

    &--level_1 {
        @extend %level;

        border-style: solid;
        opacity: 0.5;
    }

    &--level_2 {
        @extend %level;

        border-style: dotted;
    }

    @each $name, $color in $colors {
        &--#{$name} {
            background-color: $color;
        }   
    }

    &:hover {
        transition: all 0.5s;
        transition-delay: 0.03s;
        background-color: rgb(12, 53, 189) ;
        opacity: 1;
        border: none;
        cursor: pointer;
    }
}

@import '../utils/fragments';